@import "reset.css";
@font-face {
    font-family: 'MasonChronicles';
    src: url('../fonts/MasonChronicles.woff') format('woff'),
         url('../fonts/MasonChronicles.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}  

*{
    box-sizing: border-box;
}

body{
    background: #141218;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: top right 10%;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.header{
    padding-top: 60px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-list{
        margin-right: auto;
        margin-left: 67px;
        .menu-link{
            color:inherit;
            text-decoration: none;
            margin-right: 24px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .social{
        &-link{
            margin-left: 20px;
            text-decoration: none;
        }
    }
}

.main-content{
    display: flex;
    align-items: center;
    margin-bottom: 85px;
    .content{
        .genre{
            margin-bottom: 16px;
            display: block;
        }
        .rating{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            &-number{
                font-size: 12px;
                line-height: 14px;
                margin-left: 9px;
            }
        }

        .main-title{
            font-family: 'MasonChronicles', serif;
            font-weight: 500;
            font-size: 76px;
            line-height: 89px;
            margin-top: 0;
            margin-bottom: 10px;
        }

        .main-description{
            max-width: 460px;
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 40px;
        }

        .button{
            background: #9D2929;
            border-radius: 8px;
            border: none;
            color:inherit;
            font-size: 14px;
            padding: 22px 72px;
        }
    }

    .play{
        margin: auto;
        background: #9D2929;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border:none;
        position: relative;

        .play-image{
            transform: translateX(5px);
            position: relative;
        }

        &::before{
            content: '';
            height: 132px;
            width: 132px;
            background: #9D2929;
            opacity: 0.5;
            position: absolute;
            border-radius: 50%;
            left: -16px;
            top: -16px;
        }
    }
}

.swiper-container{
    max-width: 420px;
    margin-left: 0;
}

// slider
.series{
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 420px;
    .card{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 30px;
        width: 164px;
        height: 113px;
        border-radius: 8px;
        padding: 13px;

        &-subtitle{
            font-size: 10px;
            line-height: 12px; 
            margin: 0; 
            margin-bottom: 2px;
        }

        &-title{
            margin: 0;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .series-1{
        background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .series-2{
        background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .arrow{
        width: 32px;
        height: 23px;
        border: none;
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
    }
}

//footer
.footer{
    background-color: #141218;
    padding: 20px 0px;
    margin-top: 60px;
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            .copyright{
                color: #3A383D;
            }
        }
        .right{
            .footer-link{
                margin-left: 25px;
                text-decoration: none;
                color: #3A383D;
            }
        }
    }
}